server:
  port: 8081

spring:
  application:

    name: api-gateway
  
  cloud:

    gateway:
      mvc:
        discovery:
          locator:
            enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/